<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Downloading</title>
    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/site-styling.css') }}">
    <link rel= "stylesheet" href="/static/styles/site-styling.css">
</head>
<body>

<h1>File Download</h1>
<p class = "download-page-text">Click the download button below to save your ICS file.</p>
   <div class="container" align="center">
		<a href="/return-files/" target="blank"><button class='btn btn-default'>Download!</button></a>
   </div>

<p class="credit">This website is developed by Louis Ye, class of 23. </br>Email address:  23yel@shadysideacademy.org</p>
</body>
</html>