<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSA Senior School ICS file generator</title>
</head>
<body>

<h1>SSA Senior School Schedule Generator</h1>
<p>This website is to help you create an ICS formatted file that you can import to calendar software</p>
<p>Please enter your period names (input "Free" if a period is unscheduled).</p>

<form action="/fill_schedule" method = "post">
	<label for="studentID">Student ID:</label><br>
	<input type="text" id="studentID" name="studentID"><br>

	<label for="blockA">Block A:</label><br>
	<input type="text" id="blockA" name="blockA"><br>
	<input type="checkbox" id="blockAlab" name="blockAlab" value="True">
	<label for="blockAlab">Lab Period</label>
	<input type="checkbox" id="blockAlate" name="blockAlate" value="True">
	<label for="blockAlab">Late Lunch</label><br>

	<label for="blockB">Block B:</label><br>
	<input type="text" id="blockB" name="blockB"><br>
	<input type="checkbox" id="blockBlab" name="blockBlab" value="True">
	<label for="blockAlab">Lab Period</label>
	<input type="checkbox" id="blockBlate" name="blockBlate" value="True">
	<label for="blockAlab">Late Lunch</label><br>


	<label for="blockC">Block C:</label><br>
	<input type="text" id="blockC" name="blockC"><br>
	<input type="checkbox" id="blockClab" name="blockClab" value="True">
	<label for="blockClab">Lab Period</label>
	<input type="checkbox" id="blockClate" name="blockClate" value="True">
	<label for="blockClab">Late Lunch</label><br>

	<label for="blockD">Block D:</label><br>
	<input type="text" id="blockD" name="blockD"><br>
	<input type="checkbox" id="blockDlab" name="blockDlab" value="True">
	<label for="blockDlab">Lab Period</label>
	<input type="checkbox" id="blockDlate" name="blockDlate" value="True">
	<label for="blockDlab">Late Lunch</label><br>

	<label for="blockE">Block E:</label><br>
	<input type="text" id="blockE" name="blockE"><br>
	<input type="checkbox" id="blockElab" name="blockElab" value="True">
	<label for="blockElab">Lab Period</label>
	<input type="checkbox" id="blockElate" name="blockElate" value="True">
	<label for="blockElab">Late Lunch</label><br>

	<label for="blockF">Block F:</label><br>
	<input type="text" id="blockF" name="blockF"><br>
	<input type="checkbox" id="blockFlab" name="blockFlab" value="True">
	<label for="blockFlab">Lab Period</label>
	<input type="checkbox" id="blockFlate" name="blockFlate" value="True">
	<label for="blockFlab">Late Lunch</label><br>

	<label for="blockG">Block G:</label><br>
	<input type="text" id="blockG" name="blockG"><br>
	<input type="checkbox" id="blockGlab" name="blockGlab" value="True">
	<label for="blockGlab">Lab Period</label>
	<input type="checkbox" id="blockGlate" name="blockGlate" value="True">
	<label for="blockClab">Late Lunch</label><br>
	<label for="blockG">Block G:</label><br>

	<input type="text" id="blockH" name="blockH"><br>
	<input type="checkbox" id="blockHlab" name="blockHlab" value="True">
	<label for="blockHlab">Lab Period</label>
	<input type="checkbox" id="blockHlate" name="blockHlate" value="True">
	<label for="blockHlab">Late Lunch</label><br>
	<input type="submit" value="submit">
</form>


</body>
</html>